@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

img,
fieldset {
	border: none;
}

:focus {
	outline: none;
}

a {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
	line-height: 18px;
	-webkit-font-smoothing: antialiased;
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #363636;
}

.main {
	padding-top: 60px;
	/*background: #FAF5FF;*/
}

header {
	min-height: 60px;
	display: flex;
	align-items: center;
	background: #FAF5FF;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9;
	width: 100%;
	transition: all 0.4s ease;
}

header ul.header-menu {
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: flex-end;
	height: 100%;
}

header .logo img {
	max-width: 120px;
}

header ul.header-menu>li {
	font-size: 16px;
	line-height: 22px;
	padding: 0 15px;
	font-weight: 500;
}

ul.header-menu>li>a {
	color: #48217A;
	padding: 10px 10px;
	background: transparent;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: relative;
}

ul.header-menu>li>a:before {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 0;
	height: 3px;
	border-radius: 5px;
	background: transparent;
	content: "";
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

ul.header-menu>li>a:hover::before {
	background: #4E1E7E;
	left: 0;
	width: 100%;
}

ul.header-menu>li:last-child>a:hover::before {
	content: none;
}

ul.header-menu>li:last-child>a:hover {
	background: #4E1E7E;
	color: #fff;
	border-radius: 26px;
}

ul.header-menu li a.login-signup {
	border-radius: 26px;
	background: #4E1E7E;
	color: #fff;
}

ul.header-menu li a.show {
	color: #fff;
	background: #4E1E7E;
	border-radius: 26px 26px 0 0;
}

ul.header-menu li a.show:hover {
	border-radius: 26px 26px 0 0;
}

header.sticky .dropdown-box {
	top: 45px;
}

.dropdown-box {
	border: 1px solid transparent;
	border-radius: 0 0 26px 26px;
	position: absolute;
	top: 49px;
	width: auto;
	min-width: 116px;
	padding: 0;
	overflow: hidden;
	box-shadow: 0px 10px 50px #00000029;
	height: 0;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	transition-delay: 0.1s;
	background: #fff;
	opacity: 0;
}

.dropdown-box li {
	padding: 0;
	border-bottom: 1px solid #EDDBFF;
}

.dropdown-box li:last-child {
	border-bottom: 0;
}

.dropdown-box.show {
	height: 70px;
	border: 1px solid #4E1E7E;
	opacity: 1;
}


.dropdown-box li a {
	padding: 7px 15px;
	background: none;
	border-radius: 0;
	display: flex;
	font-size: 16px;
	line-height: 15px;
	color: #472078;
	font-weight: 400;
}

.dropdown-box li a:hover {
	background: none;
}


h1 {
	font-size: 45px;
	line-height: 55px;
	font-weight: 700;
}

h2 {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	color: #48217A;
	position: relative;
	width: auto;
	display: inline-block;
	padding-left: 40px;
	padding-right: 40px;
	margin-bottom: 60px;
}

h2::before {
	position: absolute;
	left: 0;
	bottom: -15px;
	height: 6px;
	width: 100%;
	background: #48217A;
	border-radius: 50px;
	content: "";
}


h6 {
	font-size: 20px;
	line-height: 26px;
	font-weight: 500;
}

header.sticky {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	padding: 15px 0;
	z-index: 99;
	box-shadow: 0px 3px 6px #00000029;
	min-height: auto;
	transition: all 0.3s linear;
	z-index: 999;
	background: #48217A;
}

header.sticky .logo img {
	max-width: 110px;
	transition: all 0.4s ease;
	filter: brightness(0) invert(1);
}

header.sticky ul.header-menu>li>a {
	color: #fff;
}

header.sticky ul.header-menu>li>a.login-signup {
	background: #fff;
	color: #48217A;
}

header.sticky .dropdown-box {
	min-width: 105px;
}
	header.sticky {
		position: fixed;
		width: 100%;
		left: 0;
		top: 0;
		padding: 15px 0;
		z-index: 99;
		box-shadow: 0px 3px 6px #00000029;
		min-height: auto;
		transition: all 0.3s linear;
		z-index: 999;
		background: #48217A;
	}
	header.sticky .logo img{max-width: 110px; transition: all 0.4s ease; filter: brightness(0) invert(1);}

	header.sticky ul.header-menu > li > a{color:#fff;}
	header.sticky ul.header-menu > li > a.login-signup{background:#fff; color:#48217A;}
	header.sticky .dropdown-box{min-width:105px;}


/*******************Footer Css***********************/

footer {
	width: 100%;
}

footer .grey-container {
	background: #FAF5FF;
	width: 100%;
	padding: 50px 0;
}

footer .grey-container .links-row {
	width: 100%;
	margin-bottom: 35px;
}

footer .grey-container .links-row:last-child {
	margin-bottom: 0;
}

.grey-container .links-row h4 {
	font-size: 21px;
	line-height: 24px;
	color: #000;
	font-weight: 500;
	margin-bottom: 15px;
}

.grey-container .links-row h4 a {
	font-size: 16px;
	line-height: 18px;
	color: #8540D6;
	font-weight: 500;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	margin-left: 10px;
}

.grey-container .links-row h4 a .arrow-icon {
	max-width: 20px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.grey-container .links-row h4 a:hover .arrow-icon {
	left: -5px;
}

.grey-container .links-row .page-links {
	display: flex;
	list-style: none;
	margin-bottom: 0;
	gap: 10px;
}

.grey-container .links-row .page-links li {
	font-size: 14px;
	line-height: 16px;
	font-weight: 400;
	color: #000;
	position: relative;
}

.grey-container .links-row .page-links li::before {
	position: absolute;
	top: 0;
	right: -6px;
	content: "";
	border-right: 1px solid #000;
	height: 100%;
}

.grey-container .links-row .page-links li:last-child:before {
	content: none;
}

.grey-container .links-row .page-links li a {
	color: #000;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.grey-container .links-row .page-links li a:hover {
	color: #48217A;
	text-decoration: underline;
}

footer .blue-container {
	padding: 50px 0;
	width: 100%;
	background: #48217A;
}

footer .blue-container h4 {
	color: #fff;
	font-weight: 700;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 35px;
	font-family: "Poppins", sans-serif;
}

footer .blue-container .contact-links {
	display: flex;
	list-style: none;
	flex-wrap: wrap;
	height: 100%;
	max-width: 680px;
}

footer .blue-container .contact-links li {
	width: 50%;
	position: relative;
	padding-left: 25px;
}

footer .blue-container .contact-links li img {
	position: absolute;
	top: 0;
	left: 0;
	max-height: 20px;
}

footer .blue-container .contact-links li a,
footer .blue-container .contact-links li {
	color: #fff;
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
	font-size: 16px;
}

footer .blue-container .contact-links li a:hover {
	left: 5px;
}

footer .blue-container .social-media {
	display: flex;
	list-style: none;
	gap: 12px;
}

footer .blue-container .social-media li a {
	display: flex;
}

footer .blue-container .social-media li a img {
	max-width: 35px;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

footer .blue-container .social-media li a:hover img {
	transform: scale(1.4);
}

footer .blue-container .social-media li a {
	display: flex;
}

footer .foot-links {
	display: flex;
	list-style: none;
	flex-direction: column;
	gap: 10px;
}

footer .foot-links li {
	font-size: 14px;
	line-height: 16px;
	color: #3C3C3C;
	font-weight: 400;
}

footer .foot-links li a {
	color: #3C3C3C;
	position: relative;
	left: 0;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

footer .foot-links li a:hover {
	left: 5px;
	color: #48217a;
	text-decoration: underline;
}

footer .copyright {
	font-size: 16px;
	line-height: 20px;
	color: #3C3C3C;
	font-weight: 400;
	margin-top: 40px;
	margin-bottom: 0;
}

.subscription-banner {
	width: 100%;
	background: url(../images/hsn-banner-bg.svg) no-repeat 0 0;
	background-size: cover; position: relative; padding: 50px 0;
}
.subscription-banner .right-side-image {
	margin: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.subscription-banner .right-side-image img{max-width:300px;}

.subscription-banner .banner-text {
	color: #fff;
	height: 100%;
	position: relative;
}
.subscription-banner .banner-text .inner{position:absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); -ms-transform: translateY(-50%); transform: translateY(-50%);}

.subscription-banner .banner-text h1{font-size: 35px; line-height: 40px; font-weight: 700; margin-bottom: 20px;}
.subscription-banner .banner-text h4{font-size:20px; line-height:28px; font-weight:500; margin-bottom: 20px;}
.subscription-banner .banner-text p{font-size:16px; line-height:24px; font-weight:400; margin-bottom:0;}
.subscription-banner .banner-text p a{background: #fff;
	color: #4E1E7E;
	padding: 10px 20px;
	border-radius: 25px;
	font-weight: 500;
	transition: all 0.3s;
}
.subscription-banner .banner-text p a:hover{background:#4E1E7E; color: #fff;}
.subscription-banner img {
	width: 100%;
	height: auto;
}

.get-start {
	width: 100%;
	padding: 100px 0 50px;
	background: #fff;
}

.get-start .blue-container {
	background: #7B58EB;
	border-radius: 8px;
	padding: 20px;
}

.get-start p {
	font-size: 30px;
	line-height: 40px;
	font-weight: 700;
	color: #EFE3FF;
	margin-bottom: 10px;
}

.get-start span {
	font-size: 16px;
	line-height: 20px;
	font-weight: 400;
	color: #fff;
	display: block;
	font-family: "Poppins", sans-serif;
}

.get-start .rocket {
	display: flex;
	width: 100%;
	flex-direction: column;
	position: relative;
	margin: 0;
}

.get-start .rocket>img {
	max-width: 263px;
	position: absolute;
	top: -72px;
}

.get-start .rocket img.dot-img {
	max-width: 70px;
	position: absolute;
	right: 65px;
	bottom: -10px;
	top: auto;
}

.get-btn {
	color: #48217A;
	font-weight: 700;
	font-size: 25px;
	line-height: 28px;
	background: #fff;
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	max-width: 210px;
	width: 100%;
	border: 0;
	padding: 10px 10px;
	-webkit-transition: all 0.3s linear;
	-ms-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

.get-btn:hover {
	background: #48217A;
	color: #fff;
}

.plan-container {
	width: 100%;
	margin: 40px 0 0 0;
}

.common-text-container.plan h3,
.common-text-container.plan .sub-head {
	text-align: center;
}

.plan-container .plan-card {
	border: 1px solid #d5dfff;
	border-radius: 16px;
	display: flex;
	flex-direction: column;
	padding: 31px 23px;
	position: relative;
	background: #fafbff;
	text-align: center;
	position: relative;
	margin: 40px 0 0 0;
}

.plan-container .plan-card.popular {
	border-top: 0;
	border-radius: 0 0 15px 15px;
}

.plan-container .plan-card h2 {
	position: absolute;
	background: #8540d6;
	color: #fff;
	left: 0;
	top: -45px;
	width: 100%;
	text-transform: capitalize;
	font-size: 20px;
	line-height: 25px;
	padding: 15px 10px;
	border-radius: 15px 15px 0 0;
	/* margin: 0 0 20px 0; */
	/* position: ; */
}

.plan-container .plan-card h2::before {
	content: none;
}

.plan-container .plan-card h4 {
	font-size: 20px;
	line-height: 32px;
	color: #48217A;
	font-weight: 500;
}

.plan-container .plan-card .sub-head {
	font-size: 14px;
	line-height: 20px;
	color: #48217A;
	margin-bottom: 25px;
}

.plan-card .inner .price-discount {
	margin-bottom: 15px;
}

.plan-card .inner .current-price {
	font-weight: 700;
	font-size: 48px;
	line-height: 55px;
	color: #48217A;
	display: block;
}

.plan-card .inner .current-price sup {
	font-weight: 400;
	font-size: 18px;
	line-height: 20px;
	color: #48217A;
}

.plan-card .price-discount del {
	font-size: 14px;
	line-height: 20px;
	font-weight: 400;
	color: #48217A;
}

.plan-card .price-discount .discount {
	background-color: #d5dfff;
	border-radius: 20px;
	display: inline-block;
	padding: 4px 12px;
	white-space: nowrap;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #48217A;
}

.plan-card .inner .free-offer {
	font-size: 20px;
	line-height: 25px;
	color: #8540d6;
	font-weight: 500;
	margin: 25px 0;
}

.plan-card .inner .common-btn {
	min-width: 163px;
	min-height: 40px;
	background: #903BDE;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	color: #fff;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
}

.plan-card .inner .common-btn:hover {
	background: #4E1E7E;
}

.plan-card .inner small {
	display: block;
	margin: 15px 0;
	font-size: 14px;
	line-height: 20px;
}

.plan-card .inner ul {
	width: 100%;
	list-style: none;
	border-top: 1px solid #d5dfff;
	padding: 20px 0 0 0;
	margin-top: 25px;
	text-align: left;
}

.plan-card .inner ul li {
	width: 100%;
	font-size: 15px;
	line-height: 20px;
	color: #363636;
	color: #48217A;
	margin: 15px 0;
	position: relative;
}

.plan-card .inner ul li>img {
	max-width: 18px;
	margin-right: 8px;
}

.plan-card .inner ul li a {
	color: #48217A;
	border-bottom: 1px dashed #888;
}

.plan-card .inner ul li b {
	font-weight: 500;
}

.plan-card .inner ul li .tooltip {
	visibility: hidden;
	background-color: #4728DA;
	/* Purple background */
	color: #fff;
	text-align: left;
	padding: 12px;
	border-radius: 8px;
	position: absolute;
	left: 0;
	top: 100%;
	/* Position below the list item */
	transform: translateY(8px);
	width: 250px;
	z-index: 1;
	opacity: 0;
	transition: opacity 0.3s ease-in-out, transform 0.2s ease-in-out;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
	font-size: 14px;
	line-height: 1.5;
}

.plan-card .inner ul li:hover .tooltip {
	visibility: visible;
	opacity: 1;
	transform: translateY(12px);
}



/*****************************************Blog Page*******************************************/
.breadcrumb-section {
	background-color:#48217a;
	position: relative;
	overflow: hidden;
	margin:0 0 25px 0;
}

.breadcrumb-section .breadcrumb-row {
	padding: 35px 0;
	text-align: center;
	color: #222;
	display: flex;
	align-items: center;
}

.breadcrumb-section .breadcrumb-row .breadcrumb {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	margin: 0;
	margin-left: auto;
	color: #fff;
}
.breadcrumb-section .breadcrumb-row .breadcrumb li a img{width:20px;}
.breadcrumb-section .breadcrumb-row h3{margin: 0; font-size:25px; font-weight: 600; color: #fff;}
.breadcrumb-section .breadcrumb-row .breadcrumb li:before{color: #fff;}

.blog-container{width: 100%;}
.blog-container h5{font-size: 20px; line-height: 25px; margin-bottom: 15px; font-weight: 500;}
.blog-container .box-container {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
}
.blog-container .box-container .blog-box {
	padding: 0 15px;
	flex: 1 1 33%;
	margin: 0 0 30px 0;
}
.blog-container .box-container .blog-box .inner {
	border: 1px solid #ececec;
	border-radius: 10px; overflow: hidden;
}
.blog-container .box-container .blog-box .inner figure{margin-bottom: 0; width: 100%;}
.blog-container .box-container .blog-box .inner figure img{width: 100%; height: auto;}
.blog-container .box-container .blog-box .inner .text-box{padding: 20px;}
.blog-container .box-container .blog-box .inner .text-box ul {
	width: 100%;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 10px; margin-bottom: 15px;
}
.blog-container .box-container .blog-box .inner .text-box ul li {
	width: 100%;
	font-size: 13px;
	color: #4a5568;
	display: flex;
	align-items: center;
}
.blog-container .box-container .blog-box .inner .text-box ul li img{max-width: 22px; margin-right: 8px;}
.blog-container .box-container .blog-box .inner .text-box h4 {
	font-size: 18px;
	line-height: 22px;
	margin: 0 0 10px 0;
	font-weight: 500;
}
.blog-container .box-container .blog-box .inner .text-box .read-more {
	min-width: 155px;
	min-height: 40px;
	background: #903BDE;
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: #fff;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	-webkit-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
	padding: 10px 15px;
	display: inline-block;
	text-align: center;
}
.blog-container .box-container .blog-box .inner .text-box .read-more img{max-width:20px; position: relative; left: 0; -webkit-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;}
.blog-container .box-container .blog-box .inner .text-box .read-more:hover {
	background: #4E1E7E;
}
.blog-container .box-container .blog-box .inner .text-box .read-more:hover img {
left: 5px; position: relative;
}
.blog-container .box-container .blog-box .inner .text-box p{line-height: 22px;}

.blog-side-bar {
	width: 100%;
	background: #faf5ff;
	padding: 25px;
	border-radius: 10px;
	margin-bottom: 25px;
}
.blog-side-bar ul{width:100%; list-style: none;}
.blog-side-bar ul li .recent-posts {
	display: flex;
	gap: 20px;
	margin-bottom: 10px;
	background: #fff;
	padding: 5px;
	border-radius: 5px;
}
.blog-side-bar ul li .recent-posts figure {
	margin-bottom: 0;
	max-width: 110px;
}
.blog-side-bar ul li .recent-posts figure img{ max-width: 100%;}
.blog-side-bar ul li .recent-posts .text-box {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.blog-side-bar ul li .recent-posts .text-box h5{font-size: 16px; line-height: 20px; margin-bottom: 5px; font-weight: 500;} 
.blog-side-bar ul li .recent-posts .text-box span{font-size: 14px; line-height: 18px; color: #4a5568;} 
.blog-side-bar ul li:last-child .recent-posts{margin-bottom: 0;}


.blog-side-bar ul.tag-list {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.blog-side-bar ul.tag-list li.tags {
	z-index: 0;
	padding: 4px 9px;
	border-radius: 3px;
	transition: all .3s ease-in-out;
	overflow: hidden;
	position: relative;
	background-color: #fff;
}
.blog-side-bar ul.tag-list li.tags a{color:#4a5568}
.blog-side-bar ul.tag-list li.tags:hover{background: #8540D6; color: #fff;}
.blog-side-bar ul.tag-list li.tags:hover a{color: #fff;}
.blog-container .box-container .blog-box.detail .inner figure img {max-height: 400px; object-fit: cover;}
.blog-container .box-container .blog-box.detail .inner .text-box ul{flex-direction: row;}
.blog-container .box-container .blog-box .inner .text-box ul li:last-child{justify-content: flex-end;}